html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.cadastrar {
  background-color: #757575;
  width: 1200px;
  height: max-content;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 10px 10px 10px ;

}
.listCd {
  width: 1000px;
  height: 70px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.cadastrar input {
    width: 300px;
    color: azure;
    border-color: azure;
}
.custom-textfield .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
    border-color: white; /* Cor da borda */
  }
  
  .custom-textfield .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
    border-color: white; /* Cor da borda ao passar o mouse */
  }
  
  .custom-textfield .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: white; /* Cor da borda ao focar */
  }
  
  .custom-textfield .MuiInputLabel-root {
    color: white; /* Cor do label */
  }
  
  .custom-textfield .MuiInputLabel-root.Mui-focused {
    color: white; /* Cor do label ao focar */
  }
  

.cadastrar Button {
    background-color: #fb0101;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: none;
  }